/* Reset de márgenes y rellenos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para el body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Fondo suave */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Fullscreen */
    flex-direction: column;
    text-align: center;
}

/* Título principal */
h1 {
    font-size: 3rem;
    color: #333;
    background-color: #FF6F61; /* Color de fondo para el título */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Estilo para el mensaje de bienvenida */
p {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 40px;
}

/* Estilo para los botones */
a {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    background-color: #333;
    border-radius: 5px;
    transition: all 0.3s ease;
}

/* Efecto de iluminación al pasar el ratón */
a:hover {
    background-color: #FF6F61; /* Color de fondo cuando pasa el ratón */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra de resplandor */
    transform: scale(1.05); /* Aumento de tamaño al pasar el ratón */
}

/* Estilo de los botones específicos */
.boton_registro {
    background-color: #4CAF50; /* Verde para el registro */
}

.boton_inicio {
    background-color: #007BFF; /* Azul para el inicio de sesión */
}

