/* Reseteo de m치rgenes y rellenos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general para el cuerpo de la p치gina */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
}

/* Estilo para el formulario */
form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 30px auto;
    text-align: center;
}

/* Estilo para los inputs del formulario */
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

/* Efecto de enfoque en los inputs */
input[type="number"]:focus {
    border-color: #4CAF50;
}

/* Estilo para el bot칩n de enviar */
input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efecto de hover para el bot칩n */
input[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilo para el mensaje de error */
p {
    font-size: 1rem;
    color: red;
    margin-top: 20px;
}

/* Estilo para el enlace de regresar */
.boton_regresar {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

/* Efecto de hover para el enlace */
.boton_regresar:hover {
    background-color: #0056b3;
}

